body{
    margin: 0;
    padding: 0;
  
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}



.background{
margin: 0;
    padding: 0;
   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.nav{
    width:350px;
    height: auto;
    
    position: absolute;
    top:20%;
    left:0;

}
.nav a{
text-decoration:none;
font-size:28px;
font-weight: bold;
width: 50%;
height:10%;
margin: 5px;
float:left;
display:inline-block;
background-color: black;
color: white;
line-height: 90px;
text-align: center;
transition: 300ms;
}

a.active,.nav a:hover{
    background-color:white;
    color:black;
    width:100%;
}
.a{
    width:95%;
}
.b{
    width:85%;
}
.c{
    width:80%;
}
.d{
    width:90%;
}

.content{
    position:absolute;
    width:930px;
    min-height:500px;
    height:auto;
    
    right:0;
    top:10%;

}
.home{
    position:absolute;
    right:0;
    bottom:-50px;
    color:white;

}
.home h1{
    font-size:60px;
   padding-right: 90px;
   border-bottom:1px solid white;
   text-transform:uppercase;

}
.home h3{
       font-size:28px;
   padding-right: 5px 0;
   
}
.about{
    position:absolute;
    right:0;
    top:10px;
    color:white;
    padding:0 60px;
}
.about p{
    font-size:18px;
    line-height: 28px;
    margin-bottom:15px;
}
.slider-container{
    width:600px;
    height:400px;
}
.image-container{
    
    position:relative;
    transition:left 2s;
    -webkit-transition:left 2s;
    -moz-transition:left 2s; 
    -o-transition:left 2s;
}

.container{
    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;
}
.img{
    width:100%;
    height:100vh;
    position:absolute;
    animation:slide 20s infinite;
    opacity:0;
}
@keyframes slide{
    10%{opacity:1;}
    45%{opacity:0;}
}
img:nth-child(0){animation-delay: 0s;}
img:nth-child(1){animation-delay: 8s;}
img:nth-child(2){animation-delay: 16s;}
img:nth-child(3){animation-delay: 16s;}
.footer-main-div{
    width:100%;
    height:auto;
    margin:auto;
    background:#272727;
    padding:20px 0px;

}
.footer-social-icons{
    width:100%;
    height:auto;
    margin:auto;
}
.footer-social-icons img{
    height:20px;
    width:20px;
    margin:0px;
    padding:0px;
    text-align:center;
}
.footer-social-icons ul{
     margin:0px;
    padding:0px;
    text-align:center;
}
.footer-social-icons ul li  {
    display:inline-block;
     height:50px;
    width:50px;
    margin:0px 10px;
    border-radius: 50%;
    background:transparent;

}
.footer-social-icons ul li img{

    display:inline-block;
     height:50px;
    width:50px;
    margin:0px 10px;
    border-radius: 100%;
     background:blue;
}
.footer-social-icons ul li a{
    color:#272727;
    font-size:24px;
    display: block;
}
.footer-social-icons ul li a i{
    line-height: 50px;
}
.footer-menu-one{
    width: 100%;
    height:auto;
    margin:auto;
    margin-top:20px;

}
.footer-menu-one ul{
    margin:0px;
    padding:0px;
    text-align: center;
}
.footer-menu-one ul li{
    display: inline-block;
     margin:0px 20px;
}
.footer-menu-one ul li a{
    font-size:20px;
    font-weight:600;
    color:white;
    text-transform: :uppercase;
}
a{
    text-decoration: none;
    outline:none;
}













































