body{
    margin: 0;
    padding: 0;
   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}



.background{
margin: 0;
    padding: 0;
   
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.nav{
    width:350px;
    height: auto;
    
    position: absolute;
    top:20%;
    left:0;

}
.nav a{
text-decoration:none;
font-size:28px;
font-weight: bold;
width: 50%;
height:10%;
margin: 5px;
float:left;
display:inline-block;
background-color: black;
color: white;
line-height: 90px;
text-align: center;
transition: 300ms;
}

a.active,.nav a:hover{
    background-color:white;
    color:black;
    width:100%;
}
.a{
    width:95%;
}
.b{
    width:85%;
}
.c{
    width:80%;
}
.d{
    width:90%;
}



}
.ab{
    float:right;
    padding:-1 100px;
    font-size:60px;

}
.ins{
    float:right;
    padding:400 600px;
    width:50px;
    height:auto;
}

.container{
    width:100%;
    height:100vh;
    position:relative;
    overflow:hidden;
}
.img{
    width:100%;
    height:100vh;
    position:absolute;
    animation:slide 20s infinite;
    opacity:0;
}
@keyframes slide{
    10%{opacity:1;}
    45%{opacity:0;}
}
img:nth-child(0){animation-delay: 0s;}
img:nth-child(1){animation-delay: 8s;}
img:nth-child(2){animation-delay: 16s;}
img:nth-child(3){animation-delay: 24s;}


.container1{
    width: 1280px;
        margin: 70px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.container1 .box{
    position: relative;
    width: 300px;
    height:300px;
    background: transparent;
    margin:5px;
    box-sizing: border-box;
    display: inline-block;
}
.container1 .box .imgbox{
    position:relative;
    overflow: hidden;
}
.container1 .box .imgbox img{
    max-width: 100%;
    transition: transform 2s;
}
.container1 .box:hover .imgbox img{
    transform:scale(1.2);
}

.container1 .box .details{
    position: absolute;
    top: 10px;
    left:10px;
    bottom:10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}
.container1 .box:hover .details{
transform: scaleY(1);
}
.container1 .box .details .cont{
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color:#fff;
}
.container1 .box .details .cont h2{
    margin:0;
    padding:0;
    font-size: 20px;
    color: #ff0;
}
.footer-main-div{
    padding-bottom: -10px;
    width:100%;
    height:auto;
    margin:auto;
    background:#272727;
    padding:20px 0px;

}
.footer-social-icons{
    width:100%;
    height:auto;
    margin:auto;
}
.footer-social-icons img{
    height:20px;
    width:20px;
    margin:0px;
    padding:0px;
    text-align:center;
}
.footer-social-icons ul{
     margin:0px;
    padding:0px;
    text-align:center;
}
.footer-social-icons ul li  {
    display:inline-block;
     height:50px;
    width:50px;
    margin:0px 10px;
    border-radius: 50%;
    background:transparent;

}
.footer-social-icons ul li img{

    display:inline-block;
     height:50px;
    width:50px;
    margin:0px 10px;
    border-radius: 100%;
     background:blue;
}
.footer-social-icons ul li a{
    color:#272727;
    font-size:24px;
    display: block;
}
.footer-social-icons ul li a i{
    line-height: 50px;
}
.footer-menu-one{
    width: 100%;
    height:auto;
    margin:auto;
    margin-top:20px;

}
.footer-menu-one ul{
    margin:0px;
    padding:0px;
    text-align: center;
}
.footer-menu-one ul li{
    display: inline-block;
     margin:0px 20px;
}
.footer-menu-one ul li a{
    font-size:20px;
    font-weight:600;
    color:white;
    text-transform: :uppercase;
}
a{
    text-decoration: none;
    outline: none;
}




































